/* Header styles */

.header {
    background-color: black;
    height: 75px;
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
}

/* Left section styles */

.header > .left-section {
    height: 100%;
    padding-left: 25px;
}

.header > .left-section > .logo-header {
    height: 100%;
    display: flex;
    align-items: center;
}

.header > .left-section > .logo-header img {
    height: 30px;
}

/* Center section styles */

.header > .center-section {
    display: flex;
    align-items: center;
}

.header > .center-section > .nav-bar-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.header > .center-section > .nav-bar-wrapper > .explore-heading h1{
   color: #f4e180;
   text-transform: uppercase;
   font-size: 0.9em;
   margin: 0px;
}

.header > .center-section > .nav-bar-wrapper > .nav-links-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
}

.header > .center-section > .nav-bar-wrapper > .nav-links-wrapper > .nav-links {
    display: flex;
    justify-content: space-between;
    width: 60%;
}

.header > .center-section > .nav-bar-wrapper > .nav-links-wrapper > .nav-links > .nav-link a{
    text-decoration: none;
    color: white;
    font-weight: 1000;
    font-size: 1.125em;
    transition: 0.7s;
}

.header > .center-section > .nav-bar-wrapper > .nav-links-wrapper > .nav-links > .nav-link a:hover {
    color: #f4e180;
}


.header > .center-section > .nav-bar-wrapper > .nav-links-wrapper > .spark-dropdown a{
    color: #c9c9c9;
    padding-left: 25px;
    font-size: 1.125em;
    text-decoration: none;
    transition: 0.7s;
}

.header > .center-section > .nav-bar-wrapper > .nav-links-wrapper > .spark-dropdown a:hover {
    color: #f4e180;
}

.header > .center-section > .nav-bar-wrapper > .nav-links-wrapper > .spark-dropdown i{
    padding-left: 10px;
    font-size: 0.6em;
}

/* Right section styles */

.header > .right-section {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.header > .right-section > .btn-wrapper {
    width: 400px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header > .right-section > .btn-wrapper > .btn-link {
    background-color: #36383f;
    font-size: 1.125em;
    padding: 15px 20px;
    border-radius: 4px;
}

.header > .right-section > .btn-wrapper > .btn-link i{
    color: #49c877;
    padding-left: 5px;
    font-size: 1.2em;
}

.header > .right-section > .btn-wrapper > .btn-link a{
    color: white;
    font-weight: 900;
    text-decoration: none;
    transition: 0.7s;
}

.header > .right-section > .btn-wrapper > .btn-link a:hover {
    color: #49c877;
}

.header > .right-section > .btn-wrapper > .search-icon i{
    color: white;
    filter:brightness(50%);
    font-size: 1.5em;
    transition: 0.7s;
}

.header > .right-section > .btn-wrapper > .search-icon i:hover {
    color: #49c877;
    filter:brightness(100%);
}

